<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Node.js + Express + MySQL TODO APP!!</h1>
    <a href="./todos/">Todoリストを見に行く</a>
  </body>
</html>
